@mixin box($h, $w){
  height: $h;
  width: $w;
  border: 2px solid black;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
header, footer {
  display: flex;
  justify-content: center;
}
.players {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boxes {
  @include box(8em, 20em);
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}